@page
@model PayrollWebsite.Pages.PayrollReportModel
@{
    ViewData["Title"] = "";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h2>PayrollReport</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
                <br />
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <input type="submit" value="Generate Report" class="btn btn-default" />
        </form>
    </div>
</div>

<div hidden id="myTable1div">
    <h3>Payroll Report</h3>
    <table class="table" id="Table1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PayrollReport[0].EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayrollReport[0].PayPeriod)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PayrollReport[0].Amount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PayrollReport)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayPeriod)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
